.pill {
  background-color: #f2f4fe;
  color: #4661e6;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.pill:hover {
  background-color: #cfd7ff;
}

.pill:active {
  background-color: #4661e6;
  color: #fff;
}

.pill img {
  margin-bottom: 0.4rem;
}
